
:root {
    --background: #f2f6ff;
    --calc-body: #ffffff;
    --display-background: #cce5ff;
    --primary-number-btn: #4a90e2;
    --operator-btn: #ffb347;
    --function-btn: #50c878;
    --equals-btn: #ff6b6b;
    --text-color-wt: #ffffff;
    --text-color-bk: #000000;
    --btn-delete: #ff4b4b;
    --text-color-display: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

/* Layout */

.title {
    font-size: 58px;
    padding: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 24px;
    background-color: var(--background);
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 550px;
    background-color: var(--calc-body);
    border-radius: 12px;
}

.screen {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 24px;
}

.display-section {
    background-color: var(--display-background);
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5px;
    width: 100%;
    height: 90px;
}

.display-section h2 {
    color: var(--text-color-display);
    font-size: 30px;
}

.display-current {
    width: 100%;
    height: 60%;
    text-align: end;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    gap: 8px;
}

.numbers {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 4px;
}

/* Buttons */

.btn {
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 12px;
}

.btn:hover {
    cursor: pointer;
}

.number-btn {
    font-size: 16px;
    font-weight: 600;
    background-color: var(--primary-number-btn);
    color: var(--text-color-wt);
}

.btn-function {
    font-size: 20px;
    font-weight: 500;
}

#clear,
#delete {
    font-size: 16px;
}

#delete {
    background-color: var(--btn-delete);
    color: var(--text-color-wt);
    font-weight: 600;
}

.operator {
    font-size: 20px;
    font-weight: 500;
    background-color: var(--operator-btn);
    color: var(--text-color-wt);
}

#equals {
    background-color: var(--equals-btn);
    color: var(--text-color-wt);
    font-size: 20px;
    font-weight: 600;
}